.idea/
*.DS_Store
*/__pycache__/
*/*/__pycache__/
*/.ipynb_checkpoints/
data/*
results/*
src/.pytest_cache
src/*.prof
src/*.png
src/*.eps
src/.ipynb_checkpoints/
src/notebooks/*.eps
src/notebooks/.ipynb_checkpoints/